<%- include('../partials/header') %>
<br>
<h1 align="center"> Flight List </h1>
<br><br>
<table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight No.</th>
        <th>Departs</th>
        <th></th>
        <th>Remove Flight</th>
      </tr>
    </thead>
    <tbody>
        <% flights.forEach(function(f) { %>
            <tr>
              <td><%= f.airline %></td>
              <td><%= f.airport %></td>
              <td><%= f.flightNo %></td>
              <td><%= f.departs %></td>
              <td><a href="/flights/<%= f._id %>"> Details </td>
              <td>
                <form action ="/flights/<%=f._id%>?_method=DELETE" method="POST">
                  <button type="submit">X</button>
                </form>
                </td>
            </tr>
          <% }) %>
        </tbody>
      </table>

<%- include('../partials/footer') %>